@model IEnumerable<BNK.Web.Application.Operacoes.Model.OperacaoModel>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    
    <div>
        <h3>
            Buscando Operações da Conta => @if (Model != null && Model.Any()) { @Model.First().Num_SeqlContaOrigem }
        </h3>
    </div>
    
    <p class="btn btn-info">
        @Html.ActionLink("Nova Operação", "NovaOperacao")
    </p>
    @{decimal saldo = 0; }
    @foreach (var item in Model)
    {
        saldo += item.Num_ValorOperacao;
    }
    <p>
        Saldo R$ @Html.Raw(saldo)
    </p>
    <table class="table">
        <tr>
            <th>
               #
            </th>
            <th>
                Cód. Operação
            </th>
            <th>
                Conta Origem
            </th>
            <th>
                Conta Destino
            </th>
            <th>
                Valor
            </th>
            <th>
                Data
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Num_SeqlOperacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nom_TipoOperacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Num_SeqlContaOrigem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Num_SeqlContaDestino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Num_ValorOperacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_DataOperacao)
            </td>
           
        </tr>
    }
    
    </table>
</body>
</html>
