@model IEnumerable<BNK.Web.Application.Operacoes.Model.OperacaoModel>

<div class="container">
    @{ var Num_SeqlConta = @Model.First().Num_SeqlContaOrigem; }
    @{decimal saldo = 0; }
    @foreach (var item in Model)
    {

        saldo += item.Num_SeqlContaDestino == Num_SeqlConta ? (item.Num_ValorOperacao * -1) : item.Num_ValorOperacao;
    }
    <div class="row">
        <h3>
            Buscando Operações da Conta Nº @if (Model != null && Model.Any())
            { @Html.Raw(Num_SeqlConta) }
        </h3>
        <h4>
            Saldo Atual: R$ @Html.Raw(saldo)
        </h4>
    </div>
    <div class="row" style="margin-bottom: 15px">
        <input type="button"
                value="Minhas Informações"
                class="btn btn-info"
                onclick="location.href='@Url.Action("InfoConta", "Conta" , new { Num_SeqlConta=@Num_SeqlConta} )'" />
        
    </div>
    <div class="row" style="margin-bottom: 15px">
        <input type="button"
                            value="+ Nova Operação"
                            class="btn btn-success"
                            onclick="location.href='@Url.Action("NovaOperacao", "Conta" , new { Num_SeqlConta=@Num_SeqlConta} )'" />
      
    </div>
    <div class="row">
        <table id="TableDados" class="display table">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Cód. Operação
                    </th>
                    <th>
                        Conta Origem
                    </th>
                    <th>
                        Conta Destino
                    </th>
                    <th>
                        Valor
                    </th>
                    <th>
                        Data
                    </th>
                </tr>
            </thead>
            
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Num_SeqlOperacao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nom_TipoOperacao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Num_SeqlContaOrigem)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Num_SeqlContaDestino)
                    </td>
                    <td>
                        R$
                        @if (item.Num_SeqlContaDestino == Num_SeqlConta)
                        {
                        @Html.Raw(item.Num_ValorOperacao * -1)
                        }
                        @if (item.Num_SeqlContaDestino != Num_SeqlConta)
                        {
                        @Html.DisplayFor(modelItem => item.Num_ValorOperacao)
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date_DataOperacao)
                    </td>

                </tr>
                }
            </tbody>
            

        </table>

    </div>

       
        
</div>
<script>
    $(document).ready(function(){
        $('#TableDados').DataTable( {
            "language": {
                "url": "http://cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json"
            }
        });
    });
</script>
